<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css'%}">
    <title>Title</title>
    <title>Title</title>
</head>
<body>
    <ul>
    {# 한 줄 코멘트 #}
    <!--
        Html Comment
    -->
    {% comment %}
        <div>
            <p>불필요 블럭</p>
        </div>
    {% endcomment %}

    {% if question_list %}
        {% for question in question_list %}
        {# http://127.0.0.1:8000/pybo/1 #}
        <li><a href="{% url 'pybo:detail' question.id %}">{{question.subject|lower}}</a>, {{question.create_date|date:"Y-m-d"}}</li>
        {% endfor %}
    {% else %}
        <p>질문이 없습니다.</p>
    {% endif %}
    </ul>
    {% csrf_token %}

</body>
</html>